body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 50px 0;
    padding: 20px;
    background: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color:  #1e3a8a;



    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
profile {
    background-image: url("C:\Users\kanao\OneDrive\画像\portfolio/猫と鳩.jpg"); /* 画像のパスを指定 */
    background-size: cover;  /* 画像を全面に広げる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
}
